@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .inter {
    font-family: 'Inter', sans-serif;
  }
  @media screen and (min-width: 1280px) {

    .h0-bold {
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
    }
    .h1-semibold {
      font-size: 18px;
      font-weight: 600;
    }
    .h2-regular {
      font-size: 14px;
      font-weight: 400;
    }
    .h2-semibold {
      font-size: 14px;
      font-weight: 600;
    }
    .h2-semibold-uppercase {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .h3-regular {
      font-size: 12px;
      font-weight: 400;
    }
    .h3-semibold {
      font-size: 12px;
      font-weight: 600;
    }
    .h3-semibold-uppercase {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .h4-regular {
      font-size: 10px;
      font-weight: 400;
    }
    .h4-semibold {
      font-size: 10px;
      font-weight: 600;
    }
    .h4-semibold-uppercase {
      font-size: 10px;
      font-weight: 600;
    }
    .h5-semibold {
      font-size: 8px;
      font-weight: 600;
    }
  }
  @media screen and (max-width: 1280px) {
    .h0-bold {
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
    }
    .h1-semibold {
      font-size: 16px;
      font-weight: 600;
    }
    .h2-regular {
      font-size: 14px;
      font-weight: 400;
    }
    .h2-semibold {
      font-size: 12px;
      font-weight: 600;
    }
    .h2-semibold-uppercase {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .h3-regular {
      font-size: 10px;
      font-weight: 400;
    }
    .h3-semibold {
      font-size: 10px;
      font-weight: 600;
    }
    .h3-semibold-uppercase {
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .h4-regular {
      font-size: 8px;
      font-weight: 400;
    }
    .h4-semibold {
      font-size: 8px;
      letter-spacing: 0;
    }
    .h4-semibold-uppercase {
      font-size: 8px;
      font-weight: 600;
    }
    .h5-semibold {
      font-size: 6px;
      font-weight: 600;
    }
  }
}
.chakra-collapse {
  overflow: unset !important;
}
.chakra-accordion__panel {
  overflow: unset !important;
}
.react-datepicker {
  border: none !important;
  border-radius: 10px !important;
  padding: 0 !important;
}
.react-datepicker__triangle {
  display: none;
}
.react-datepicker__header {
  background-color: transparent !important;
  padding-top: 14px !important;
  border: none !important;
  gap: 4px;
  display: flex;
  flex-flow: column;
}
.react-datepicker__current-month {
  font-size: 12px !important;
  font-weight: 600 !important;;
}
.react-datepicker__month {
  background-color: transparent !important;
}
.react-datepicker__day--selected {
  background-color: #3239F4 !important;
}
.react-datepicker__day:hover {
  background-color: #3239F4 !important;
  color: white !important;
}
.react-datepicker__navigation--next {
  top: 8px !important;
  background: url(/icons/datepicker-next.svg) no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  border: none;
}
.react-datepicker__navigation-icon--next {
  display: none;
}
.react-datepicker__navigation--previous {
  top: 8px !important;
  background: url(/icons/datepicker-prev.svg) no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  border: none;
}
.react-datepicker__navigation-icon--previous {
  display: none;
}
.Toastify__toast {
  /*border: 1px solid #5DB771;*/
  padding: 24px !important;
  border-radius: 16px !important;
  background-color: white !important;
}
.Toastify__toast-container {
  width: 420px !important;
  max-width: 100% !important;
}
.Toastify__toast-icon {
  width: 32px !important;
}
.Toastify__toast-body {
  padding: 0 !important;
}
.Toastify__toast--error {
  border: 1px solid #F17878 !important;
}
.Toastify__toast--success {
  border: 1px solid #5DB771 !important;
}
.Toastify__toast--warning {
  border: 1px solid #F6CA3A !important;
}
.Toastify__toast--info {
  border: 1px solid #F6CA3A !important;
}
*{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(32, 38, 55, .5);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(32, 38, 55, 1);
  border-radius: 6px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  /*-webkit-box-shadow: 0 0 0 1000px white inset !important;*/
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}
.react-reveal {
  position: unset;
  max-width: 100%;
  height: 100% !important;
  width: 100%;
}
.chakra-tabs__tablist::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.scrollbar-height-0::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.recharts-cartesian-axis-line {
  display: none;
}
.recharts-cartesian-grid-vertical > line{
  stroke: #555D72;
}
.recharts-cartesian-grid-horizontal > line{
  stroke: #555D72;
}
.recharts-cartesian-axis-tick tspan{
}
.recharts-cartesian-axis-tick-line {
  display: none;
}
.chakra-modal__content-container {
  z-index: 99999;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}